<script src="/javascript/popup.js"></script>

<div id="imagecontainer"class="main">
<h1> Welcome to your dashboard <%= user.firstName %> ! &#128521; </h1>

<br>
<br>
    <% if (typeof(errorMessage) != "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
    <% } %>
<ul>
  <li><strong>First Name:</stong><%= user.firstName %> </li>
  <li><strong>Last Name:</stong> <%= user.lastName %></li>
  <li><strong>E-mail:</stong> <%= user.email %></li>
  <br>
  <br>

  <li><strong>Address: </strong></li>
  <li><strong>Street:</strong>  <%= user.address.street %></li>
  <li><strong>Post Code:</strong>  <%= user.address.postCode %> </li>
  <li><strong>City: </strong> <%= user.address.city %> </li>
  <li><strong>Country:</strong>  <%= user.address.country %></li><br>


</ul>

<div class="row">
  <div class="col-sm-4">
    <form class="dashboard" action="users/<%=user._id%>/edit" method="get">
      <button class="btn btn-primary btn-size" name="button">Edit Information</button>
    </form>
    <br>
  </div>
  <div class="col-sm-4">
    <form class="dashboard" action="users/<%=user._id%>/delete" method="get">
      <button id="buttonfordelete" class="btn btn-warning btn-size" name="button-delete">Delete account</button>
    </form>
    <br>
  </div>
  <div class="col-sm-4">
    <% if (user.role !== "Professional"){ %>
    <form class="dashboard" action="users/<%=user._id%>/expert" method="get">
      <button class="btn btn-primary btn-size" name="button">Become an Expert</button>
    </form>
    <br>
    <%}%>
  </div>
</div>


<br>
<br>



<br>
<br>


<br>
<br>

<div class="panel panel-default">

  <h3> Your Items </h3>
</div>
<div class="centerthebutton">
  <a href="/items/new" class="btn btn-info"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a>

  </button>
</div>
<br>
<br>
<h4> <span class="panel-color glyphicon glyphicon-ok" aria-hidden="true"></span> Evaluated by Professional</h4>
<br>
<br>

<div class="container" id="evaluated">

</div>


<br>
<br>
<h4> <span class="panel-color glyphicon glyphicon-minus" aria-hidden="true"></span> Not evaluated </h4>
<br>
<br>
<div class="container" id="notevaluated">

</div>
<br>
<br>
<h4> <span class="panel-color glyphicon glyphicon-hourglass" aria-hidden="true"></span> Pending </h4>
<br>
<br>
<div class="container" id="pending">

</div>
<!-- <br>
<br>
<h4> <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> For Sale </h4>
<br>
<br> -->




<input type="hidden" id="currentUserId" value= <%=currentUser._id%>>
<input type="hidden" id="currentUserItems" value= <%=currentUser.itemsUser %>>


  <!-- if accepted  to be expert display this-->
<% if (currentUser.role == "Professional"){ %>
  <script>
    $(document).ready(()=>{
      const dbAPI = new APIHandler("http://localhost:3000");
      dbAPI.getOneExpert($("#currentUserId").val(), logresult);
    });

    function itemsAction(result){
      console.log(result);
      $("#forevaluation").append(`
        <form action="./items/${result._id}/evaluated" method="POST">
        <div class="row">
          <div class="col-sm-6">
            <div class="thumbnail">
              <img src=${result.images[0].image}>

              <div class="caption">
                <h3>${result.title}</h3>

                  <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-success active">
                    <input type="radio" name="options" name="accept" autocomplete="off" value=1 checked> Accept
                  </label>
                  <label class="btn btn-danger">
                    <input type="radio" name="options" name="reject" autocomplete="off" value=0> Reject
                  </label>
                </div><br>
                </div>
                <label for="feedback">Feedback</label><br>
                 <input name="feedback" type="text" required placeholder="type your feedback here"><br>
                 <label for="evaluation">Your evaluation </label><br>
                  <input name="evaluation" type="number" required placeholder="how much do you think is worth">
                  </form>
                  <button type="submit" class="btn btn-primary">Submit Evaluation</button>
              </div>
            </div>
          </div>
        </div>
        </form>
        `)
    }

    function logresult(res){
      if(res.pending.length > 0){
        res.pending.forEach((item)=>{
          dbAPI.getOneRegister("items", item, itemsAction)
        });

      }
    }
  </script>
<div class="panel panel-default">
  <h3> Items for Evaluation </h3>
</div>
<div class="container" id="forevaluation">

</div>
<%}%>


<!-- if local evaluation display this-->
  <!-- <p> you will earn €20 for local  evaluation<p>
  <button> accept local  evaluation request </button><span>
  <button> reject local  evaluation request </button><br> -->

<!-- <p> Evaluation form<p><br>
  <label>Price</label><br>
  <input><br>
  <label>Description</label>
  <input><br>
</div> -->

<input type="hidden" id="currentUserId" value= <%=currentUser._id%>>
<input type="hidden" id="currentUserItems" value= <%=currentUser.itemsUser %>>
</div>
<script src="./javascript/APIHandler.js"></script>
<script src="./javascript/dashapihandler.js"></script>
