<h1> Welcome to your dashboard <%= user.firstName %> ! &#128521; </h1>

<script src="../javascript/password_check.js"></script>
<br>
<br>

    <% if (typeof(errorMessage) != "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
    <% } %>

<form class="dashboard" action="/dashboard" method="post">

    <script>
      <% if (typeof(tempInfo) != "undefined") { %>
         var info = <%= tempInfo %>;
      <% }  %>
    </script>

<ul>
  <li><label for="name">First Name:<%= user.firstName %> </label>
  <li><label for="lastName">Last Name: <%= user.lastName %> </label>
  <li><label for="email">E-mail: <%= user.email %>  </label>
  <br>
  <br>
  <li><label for="address"><strong>Address: </strong></label></li>
  <li><label for="street">Street: <%= user.address.street %></label></li>
  <li><label for="postCode">Post Code: <%= user.address.postCode %> </label>
  <li><label for="city">City: <%= user.address.city %> </label>
  <li><label for="country">Country: <%= user.address.country %></label>
</ul>
  <button type="submit" name="button">Edit Information</button>
</form>
<br>
<br>
<h3> Your Items </h3>
  <button type="additem" name="button">Add an Item</button>
<br>
<br>
<h4> Avaliated </h4>
<br>
<br>
<div class="container" id="avaliated">
  <div class="row text-center">
    <div class="col-sm-3">
      <p>item1</p>
      <img src="../images/stamps/s28.png" height="100px">
    </div>
    <div class="col-sm-3">
      <p>item2</p>
      <img src="../images/stamps/s10.jpg" height="100px">
    </div>
    <div class="col-sm-3">
      <p>item3</p>
      <img src="../images/stamps/s9.jpg" height="100px">
    </div>
  </div>
</div>

<br>
<br>

<h4> Not avaliated </h4>
<br>
<br>
<div class="container" id="not avaliated">
  <div class="row text-center">
    <div class="col-sm-3">
      <p>item1</p>
      <img src="../images/stamps/s10.jpg" height="100px">
    </div>
    <div class="col-sm-3">
      <p>item2</p>
      <img src="../images/stamps/s10.jpg" height="100px">
    </div>
    <div class="col-sm-3">
      <p>item3</p>
    </div>
  </div>
</div>

<br>
<br>

<h4> Pending for  professional avaliation </h4>
<br>
<br>
<div class="container" id="pending">
  <div class="row text-center">
    <div class="col-sm-3">
      <p>item1</p>
      <img src="../images/stamps/s20.jpg" height="100px">
    </div>
    <div class="col-sm-3">
      <p>item2</p>
      <img src="../images/stamps/s15.jpg" height="100px">
    </div>
    <div class="col-sm-3">
      <p>item3</p>
    </div>
  </div>
</div>

<br>
<br>

<h4> For Sale </h4>
<br>
<br>
<div class="container" id="forsale">
  <div class="row text-center">
    <div class="col-sm-3">
      <p>item1</p>
      <img src="../images/mokey1.png" height="100px">
    </div>
    <div class="col-sm-3">
      <p>item2</p>
      <img src="../images/monkeybike.jpg" height="100px">
    </div>
    <div class="col-sm-3">
      <p>item3</p>
    </div>
  </div>
</div>

<br>
<br>

<h3> Favorites </h3>
  <button type="additem" name="button">Add a Favorite Item</button>
<br>
<br>
<div class="container" id="favorites">
  <div class="row text-center">
    <div class="col-sm-3">
      <p>item1</p>
      <img src="../images/mokey1.png" height="100px">
    </div>
    <div class="col-sm-3">
      <p>item2</p>
      <img src="../images/monkeybike.jpg" height="100px">
    </div>
    <div class="col-sm-3">
      <p>item3</p>
    </div>
  </div>
</div>

<br>
<br>

<h3>&#10024;Wishlist </h3>
  <button type="additem" name="button">Add an Item to teh Wishlist</button>
<br>
<br>
<div class="container" id="wishlist">
  <div class="row text-center">
    <div class="col-sm-3">
      <p>item1</p>
      <img src="../images/mokey1.png" height="100px">
    </div>
    <div class="col-sm-3">
      <p>item2</p>
      <img src="../images/monkeybike.jpg" height="100px">
    </div>
    <div class="col-sm-3">
      <p>item3</p>
    </div>
  </div>
</div>
