<h1> Welcome to your dashboard <%= user.firstName %> ! &#128521; </h1>

<br>
<br>
    <% if (typeof(errorMessage) != "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
    <% } %>
<ul>
  <li><strong>First Name:</stong><%= user.firstName %> </li>
  <li><strong>Last Name:</stong> <%= user.lastName %></li>
  <li><strong>E-mail:</stong> <%= user.email %></li>
  <br>
  <br>

  <li><strong>Address: </strong></li>
  <li><strong>Street:</strong>  <%= user.address.street %></li>
  <li><strong>Post Code:</strong>  <%= user.address.postCode %> </li>
  <li><strong>City: </strong> <%= user.address.city %> </li>
  <li><strong>Country:</strong>  <%= user.address.country %></li>
</ul>

<form class="dashboard" action="users/<%=user._id%>/edit" method="get">
  <button name="button">Edit Information</button>

</form>
<br>
<br>
<form class="dashboard" action="users/<%=user._id%>/expert" method="get">
  <button name="button">Become an Expert</button>
</form>

<br>
<br>

<div class="panel panel-default">

  <h3> Your Items </h3>
</div>
<div class="centerthebutton">
  <button class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
  </button>
</div>
<br>
<br>
<h4> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Evaluated </h4>
<br>
<br>

<div class="container" id="evaluated">

</div>


<br>
<br>
<h4> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Not evaluated </h4>
<br>
<br>
<div class="container" id="not-evaluated">

</div>
<br>
<br>
<h4> <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> Pending for professional evealuation </h4>
<br>
<br>
<div class="container" id="pending">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/stamps/s22.jpg" id="imageofuser">
        <div class="caption">
          <h3>Item 1</h3>
          <p>keywords</p>
          <p>
            <a href="#" class="btn btn-default" role="button">Details</a>
            <a href="#" class="btn btn-default" role="button">Edit</a>
            <a href="#" class="btn btn-default" role="button">Remove</a>
            <a href="#" class="btn btn-primary" role="button">Sell it!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<h4> <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> For Sale </h4>
<br>
<br>
<div class="container" id="forsale">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/stamps/s18.jpg" id="imageofuser">
        <div class="caption">
          <h3>Item 1</h3>
          <p>
            <a href="#" class="btn btn-default" role="button">Details</a>
            <a href="#" class="btn btn-default" role="button">Edit</a>
            <a href="#" class="btn btn-default" role="button">Remove</a>
            <a href="#" class="btn btn-primary" role="button">Not sell</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>


<div class="panel panel-default">
<h3> Favorites </h3>
</div>
<div class="centerthebutton">
  <button class="btn btn-default" aria-label="Left Align">
   <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
  </button>
</div>
<br>
<br>
<div class="container" id="favorites">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/stamps/s15.jpg" id="imageofuser">
        <div class="caption">
          <h3>Item 1</h3>
          <p>keywords</p>
          <p>
            <a href="#" class="btn btn-default" role="button">Details</a>
            <a href="#" class="btn btn-default" role="button">Remove</a>
            <a href="#" class="btn btn-default" role="button">Comment</a>
            <a href="#" class="btn btn-primary" role="button">Buy it!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div class="panel panel-default">
<h3> Wishlist </h3>
</div>
<div class="centerthebutton">
  <button class="btn btn-default addbutton" aria-label="Center Align">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
  </button>
</div>
<br>
<br>
<div class="container" id="wishlist">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/stamps/s10.jpg" id="imageofuser">
        <div class="caption">
          <h3>Item 1</h3>
          <p> keywords</p>
          <p>
            <a href="#" class="btn btn-default" role="button">Details</a>
            <a href="#" class="btn btn-default" role="button">Remove</a>
            <a href="#" class="btn btn-default" role="button">Comment</a>
            <a href="#" class="btn btn-primary" role="button">Notify!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="currentUserId" value= <%=currentUser._id%>>
<input type="hidden" id="currentUserItems" value= <%=currentUser.itemsUser %>>
<script src="./javascript/APIHandler.js"></script>
<script src="./javascript/dashapihandler.js"></script>
