<script src="/javascript/popup.js"></script>


<h1> <%= user.firstName %>&nbsp<%= user.lastName %> </h1>

<br>
<br>
<div class="itemholder">
<div class="image-holder">
  <img class="items-img" src="/images/user.svg" alt="" ></img>
</div>
<div class="description-holder">
  <ul>
    <li><strong>Name: </strong><%=user.firstName %>&nbsp<%=user.lastName %></li>
    <li><strong>City: </strong><%=user.address.city %></li>
    <li><strong>Country: </strong><%= user.address.country%></li>
    <li><strong>Qualifications: </strong>lorem ipsum text and ipsum lorem</li>
    <li><strong>CV (Resume): </strong> <a href="#" class="linkviewcv">View</a></li>
    <li><strong>Certificates: </strong> <a href="#" class="linkview">View</a></li>
    <li><strong><a href="#">Contact</a> </strong></li>
  </ul>
</div>
</div>

<br><br><br>

<form class="login" action="/" method="post">
<label for="feedback">Feedback: </label>
<input type="feedback" id="feedback" name="feedback" placeholder="Enter your feedback"><br>
<br>
<button type="submit" class="btn btn-primary" name="button">Post feedback</button>
</form>
<br>
<p> <a href="/users">All the owners </a> <br>Check them out! </p>
